.other_text {
    font-size: 16px;
    margin-right: 10px;
    line-height: 2;
    width: 85%;
    text-align: justify;
    color: black;
    margin-left: 40px;
     
}

.submit{
margin-left: 40px;
background: white;
color:#BE212F;
width:100px;
}

.story-divider {
border-top: 1px solid #0a0a0a; 
margin-top:15px; 
padding-top: 15px; 
}

.header {
background-color: #BE212F;
color: white;
padding: 20px;
border-radius: 10px;
width: 85%;
margin-left: 30px;
}

.input-text {
width: 85%;
margin-left: 40px;
text-align: left;
font-size: 18px;
color:#BE212F;
}

.story-divider {
border-top: 1px solid #0a0a0a; 
margin-top:15px; 
padding-top: 15px; 
}

.text {
font-size: 18px;
margin-left: 40px;
color:#BE212F;
width: 85%;
text-align: justify;
}

.submit_text{
    margin-left: 40px;
    background: white;
    color:#BE212F;
    font-weight: bolder;
    width:120px;
    }